.div {
  background: var(--background-color-light);
  padding: 0.3rem;
  border-radius: 5px;
  max-width: 900px;
  .lista {
    height: 50vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  
  
  div {
    div {
      padding: 0 1rem 0 1rem;
      div {
        display: flex;
        justify-content: space-between;
        a {
          border-style: solid;
          border-width: 2px;
          border-color: var(--black);
          border-radius: 5px;
          text-decoration: none;
          padding: 0.1rem;
          background: var(--background-not-used);
        }
      }
    }
  }
  .repo {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;  
    border-width: 1px;
    border-style: solid;
    strong {
      margin: 0.3rem;
    }
    a {
      text-decoration: none;
      background: var(--background-not-used);
      border-style: solid;
      border-width: 1px;
      padding: 2px;   
      margin: 1px; 
    }
  }
  @media (min-width: 700px) {
    margin: 0 auto;
    border-radius: 0 15px 15px 15px;
    h3 {
      margin: 10px;
    }
    table {
      width: 100%;
      th {
        padding: 0.75rem 1rem;
        text-transform: uppercase;
        font: 500 Poppins, sans-serif;
        text-align: left;
      }
    }    
  }
}